<%- include("./includes/head") %>
    <link rel="stylesheet" href="/styles/about.css" />

  </head>
  <body>
    <%- include("./includes/header") %>
    <main>
      <h1>Make th world a tastier place!</h1>
      <p>
        EatWell is a website for food enthusiasts that allows you to share and descover amazing restaurants form <br> all over the world!
      </p>
      <p>You don't need to signup and create a account - you can simply sharing right away!</p>
      <div class="action">
        <a href="/">Go To Home</a>
      </div>
    </main>
<%- include("./includes/footer") %>